# 파이프 라인

In [10]:
from sklearn import datasets
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [11]:
raw_boston = datasets.load_boston()

X = raw_boston.data
y = raw_boston.target

# 트레이닝 / 테스트 데이터 분할
X_tn, X_te, y_tn, y_te = train_test_split(X,y,random_state=7)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [12]:
import pandas as pd
X_tn_df = pd.DataFrame(X_tn)
X_tn_df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000
mean,3.419115,11.493404,11.010106,0.071240,0.550740,6.270749,68.535356,3.791384,9.079156,400.775726,18.375198,360.610158,12.759446
std,8.357309,23.516528,6.941068,0.257566,0.113699,0.718699,28.185886,2.100746,8.513547,166.145805,2.181140,85.949154,7.300944
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.137000,1.000000,187.000000,12.600000,2.520000,1.730000
25%,0.079640,0.000000,5.040000,0.000000,0.448000,5.876500,43.900000,2.079450,4.000000,277.000000,17.000000,377.005000,6.970000
50%,0.224380,0.000000,8.560000,0.000000,0.532000,6.182000,76.900000,3.279700,5.000000,330.000000,18.700000,392.110000,11.450000
75%,2.542505,12.500000,18.100000,0.000000,0.624000,6.617000,94.550000,5.116700,8.000000,567.500000,20.200000,396.900000,17.140000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.725000,100.000000,12.126500,24.000000,711.000000,21.200000,396.900000,37.970000

In [13]:
std_scale = StandardScaler()
X_tn_std = std_scale.fit_transform(X_tn_df)
X_tn_std_df = pd.DataFrame(X_tn_std)
X_tn_std_df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,3.790000e+02,3.790000e+02,3.790000e+02,3.790000e+02,3.790000e+02,3.790000e+02,3.790000e+02,3.790000e+02,3.790000e+02,3.790000e+02,3.790000e+02,3.790000e+02,3.790000e+02
mean,2.312721e-16,1.652152e-16,2.958642e-15,-3.151979e-16,-5.086813e-15,-1.728316e-15,-8.934512e-16,8.974059e-16,-1.321136e-16,-1.737104e-16,2.934738e-14,8.091739e-15,-2.695000e-17
std,1.001322e+00,1.001322e+00,1.001322e+00,1.001322e+00,1.001322e+00,1.001322e+00,1.001322e+00,1.001322e+00,1.001322e+00,1.001322e+00,1.001322e+00,1.001322e+00,1.001322e+00
min,-4.089004e-01,-4.893833e-01,-1.521963e+00,-2.769559e-01,-1.459644e+00,-3.775336e+00,-2.331739e+00,-1.265214e+00,-9.502308e-01,-1.288376e+00,-2.651289e+00,-4.171810e+00,-1.512685e+00
25%,-4.001156e-01,-4.893833e-01,-8.612503e-01,-2.769559e-01,-9.048147e-01,-5.492846e-01,-8.751870e-01,-8.159946e-01,-5.973855e-01,-7.459673e-01,-6.313284e-01,1.910026e-01,-7.940204e-01
50%,-3.827737e-01,-4.893833e-01,-3.534534e-01,-2.769559e-01,-1.650428e-01,-1.236493e-01,2.971594e-01,-2.438946e-01,-4.797704e-01,-4.265487e-01,1.491108e-01,3.669784e-01,-1.795900e-01
75%,-1.050301e-01,4.286036e-02,1.022792e+00,-2.769559e-01,6.451835e-01,4.824108e-01,9.241871e-01,6.317127e-01,-1.269250e-01,1.004808e+00,8.377335e-01,4.227827e-01,6.007914e-01
max,1.025093e+01,3.768566e+00,2.413463e+00,3.610684e+00,2.820465e+00,3.419364e+00,1.117802e+00,3.972939e+00,1.754917e+00,1.869649e+00,1.296815e+00,4.227827e-01,3.457618e+00

In [14]:

# 표준화 스케일링
# 학습
clf_linear =  LinearRegression()
clf_linear.fit(X_tn_std_df, y_tn)

pred_linear = clf_linear.predict(X_tn)
print(mean_squared_error(y_tn, pred_linear))

pred_linear = clf_linear.predict(X_tn_std_df)
print(mean_squared_error(y_tn, pred_linear))

# 예측
X_te_std  = std_scale.transform(X_te)
X_te_std_df = pd.DataFrame(X_te_std)
pred_linear = clf_linear.predict(X_te_std_df)

# 평가
mean_squared_error(y_te, pred_linear)

322174.7885360818
20.266043144184472

29.515137790197567

In [15]:
# 트레이닝 / 테스트 데이터 분할
X_tn, X_te, y_tn, y_te = train_test_split(X,y,random_state=7)

# 파이프라인
linear_pipline = Pipeline([
    ('scaler',StandardScaler()), 
    ('linear_regression', LinearRegression()) 
])

# 학습
linear_pipline.fit(X_tn_std_df, y_tn)

# 예측
pred_linear = linear_pipline.predict(X_te_std_df)

# 평가
mean_squared_error(y_te, pred_linear)

29.51513779019759

In [16]:
X_te_std  = std_scale.transform(X_te[:,])

In [17]:
X_te_std_df = pd.DataFrame(X_te_std)

In [18]:
# 학습
linear_pipline.fit(X_tn_std_df, y_tn)

# 예측
pred_linear = linear_pipline.predict(X_te_std_df)

# 평가
mean_squared_error(y_te, pred_linear)

29.51513779019759